In [390]:
import pandas as pd
import seaborn as sb
import numpy as np

In [391]:
dataset=pd.read_csv("bank.csv",delimiter=";")
dataset.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,no,1787,no,no,cellular,19,oct,79,1,-1,0,unknown,no
1,33,services,married,secondary,no,4789,yes,yes,cellular,11,may,220,1,339,4,failure,no
2,35,management,single,tertiary,no,1350,yes,no,cellular,16,apr,185,1,330,1,failure,no
3,30,management,married,tertiary,no,1476,yes,yes,unknown,3,jun,199,4,-1,0,unknown,no
4,59,blue-collar,married,secondary,no,0,yes,no,unknown,5,may,226,1,-1,0,unknown,no

In [392]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4521 entries, 0 to 4520
Data columns (total 17 columns):
age          4521 non-null int64
job          4521 non-null object
marital      4521 non-null object
education    4521 non-null object
default      4521 non-null object
balance      4521 non-null int64
housing      4521 non-null object
loan         4521 non-null object
contact      4521 non-null object
day          4521 non-null int64
month        4521 non-null object
duration     4521 non-null int64
campaign     4521 non-null int64
pdays        4521 non-null int64
previous     4521 non-null int64
poutcome     4521 non-null object
y            4521 non-null object
dtypes: int64(7), object(10)
memory usage: 600.5+ KB

In [393]:
dataset.describe()

,age,balance,day,duration,campaign,pdays,previous
count,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000,4521.000000
mean,41.170095,1422.657819,15.915284,263.961292,2.793630,39.766645,0.542579
std,10.576211,3009.638142,8.247667,259.856633,3.109807,100.121124,1.693562
min,19.000000,-3313.000000,1.000000,4.000000,1.000000,-1.000000,0.000000
25%,33.000000,69.000000,9.000000,104.000000,1.000000,-1.000000,0.000000
50%,39.000000,444.000000,16.000000,185.000000,2.000000,-1.000000,0.000000
75%,49.000000,1480.000000,21.000000,329.000000,3.000000,-1.000000,0.000000
max,87.000000,71188.000000,31.000000,3025.000000,50.000000,871.000000,25.000000

In [394]:
dataset.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [395]:
dataset.shape

(4521, 17)

In [396]:
dataset.replace(['yes','no'],[1,0],inplace=True)

In [397]:
dataset.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,30,unemployed,married,primary,0,1787,0,0,cellular,19,oct,79,1,-1,0,unknown,0
1,33,services,married,secondary,0,4789,1,1,cellular,11,may,220,1,339,4,failure,0
2,35,management,single,tertiary,0,1350,1,0,cellular,16,apr,185,1,330,1,failure,0
3,30,management,married,tertiary,0,1476,1,1,unknown,3,jun,199,4,-1,0,unknown,0
4,59,blue-collar,married,secondary,0,0,1,0,unknown,5,may,226,1,-1,0,unknown,0

In [398]:
dataset.corr()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,y
age,1.000000,-0.017885,0.083820,-0.193888,-0.011250,-0.017853,-0.002367,-0.005148,-0.008894,-0.003511,0.045092
default,-0.017885,1.000000,-0.070886,0.006881,0.063994,-0.013261,-0.011615,-0.012348,-0.026317,-0.026656,0.001303
balance,0.083820,-0.070886,1.000000,-0.050227,-0.071349,-0.008677,-0.015950,-0.009976,0.009437,0.026196,0.017905
housing,-0.193888,0.006881,-0.050227,1.000000,0.018451,-0.031291,0.015740,-0.003574,0.116893,0.038621,-0.104683
loan,-0.011250,0.063994,-0.071349,0.018451,1.000000,-0.004879,-0.004997,0.017120,-0.031086,-0.022115,-0.070517
day,-0.017853,-0.013261,-0.008677,-0.031291,-0.004879,1.000000,-0.024629,0.160706,-0.094352,-0.059114,-0.011244
duration,-0.002367,-0.011615,-0.015950,0.015740,-0.004997,-0.024629,1.000000,-0.068382,0.010380,0.018080,0.401118
campaign,-0.005148,-0.012348,-0.009976,-0.003574,0.017120,0.160706,-0.068382,1.000000,-0.093137,-0.067833,-0.061147
pdays,-0.008894,-0.026317,0.009437,0.116893,-0.031086,-0.094352,0.010380,-0.093137,1.000000,0.577562,0.104087
previous,-0.003511,-0.026656,0.026196,0.038621,-0.022115,-0.059114,0.018080,-0.067833,0.577562,1.000000,0.116714
y,0.045092,0.001303,0.017905,-0.104683,-0.070517,-0.011244,0.401118,-0.061147,0.104087,0.116714,1.000000

In [399]:
corr=dataset.corr()
print(corr['y'].sort_values(ascending=True)[:])

housing    -0.104683
loan       -0.070517
campaign   -0.061147
day        -0.011244
default     0.001303
balance     0.017905
age         0.045092
pdays       0.104087
previous    0.116714
duration    0.401118
y           1.000000
Name: y, dtype: float64

In [400]:
dataset.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
y            0
dtype: int64

In [401]:
#convert categorical data
dataset=pd.get_dummies(dataset)
dataset.head()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,30,0,1787,0,0,19,79,1,-1,0,...,0,0,0,0,1,0,0,0,0,1
1,33,0,4789,1,1,11,220,1,339,4,...,0,0,1,0,0,0,1,0,0,0
2,35,0,1350,1,0,16,185,1,330,1,...,0,0,0,0,0,0,1,0,0,0
3,30,0,1476,1,1,3,199,4,-1,0,...,1,0,0,0,0,0,0,0,0,1
4,59,0,0,1,0,5,226,1,-1,0,...,0,0,1,0,0,0,0,0,0,1

In [402]:
#feature scaling
def feature_scaling(dataset):
    for i in dataset.columns:
        dataset[i]=(dataset[i]-dataset[i].min())/(dataset[i].max()-dataset[i].min())
    return dataset
dataset=feature_scaling(dataset)
dataset.head()

,age,default,balance,housing,loan,day,duration,campaign,pdays,previous,...,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_failure,poutcome_other,poutcome_success,poutcome_unknown
0,0.161765,0.0,0.068455,0.0,0.0,0.600000,0.024826,0.000000,0.000000,0.00,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
1,0.205882,0.0,0.108750,1.0,1.0,0.333333,0.071500,0.000000,0.389908,0.16,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,0.235294,0.0,0.062590,1.0,0.0,0.500000,0.059914,0.000000,0.379587,0.04,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,0.161765,0.0,0.064281,1.0,1.0,0.066667,0.064548,0.061224,0.000000,0.00,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.588235,0.0,0.044469,1.0,0.0,0.133333,0.073486,0.000000,0.000000,0.00,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [403]:
#split dataset into train and test data
def split_train_test(dataset):
    train=len(dataset)*0.70
    train=int(train)
    test=len(dataset)-train
    test=int(test)
    
    train=dataset.head(train)
    test=dataset.tail(test)
    
    return train,test
train,test=split_train_test(dataset)

In [404]:
#separate data
def separate(dataset):
    output=dataset.y
    return dataset.drop('y',axis=1),output
x_train,y_train=separate(train)
x_test,y_test=separate(test)

In [405]:
x_train.shape,y_train.shape,x_test.shape,y_test.shape

((3164, 48), (3164,), (1357, 48), (1357,))

In [406]:
class MultiNeuralNetwork:
    def __init__(self):
        self.learning_rate=0.1
        self.epoch=1000
        
    def train(self,x_train_data,y_train_data):
        layers=[x_train_data.shape[1],3,2,1]
        print("layers",layers)
        A=[0]*len(layers)
        A[0]=x_train_data.T
#             print(A[0])
        z=[0]*len(layers)
        dg=[0]*len(layers)
        da=[0]*len(layers)
        dz=[0]*len(layers)
        dw=[0]*len(layers)
        db=[0]*len(layers)
        da1=[0]*len(layers)
        da2=[0]*len(layers)
        weight=[]
        bias=[]

         # Initializing weights and bias for all layers 
        for i in range(len(layers)):
            weight.append((np.random.randn(layers[i],layers[i-1])*0.1))
#             print(weight)
            bias.append(np.zeros((layers[i],1)))
#             print(bias)
        
        for data in range(self.epoch):
        #forward propogation
            for i in range(1,len(layers)):
                #hypothesis function
                z[i]=np.dot(weight[i],A[i-1])+bias[i]
#                 print("weight",weight[i].shape)
#                 print("z",z[i].shape)
                # Activation 
                A[i]=np.divide(1,np.add(1,np.exp(-z[i])))
#                 print("activation",A[i].shape)
                
        #backward propogation
            for j in reversed(range(1,len(layers))):
                #derivative of sigmoid
                dg[j]=np.multiply(A[j],(1-A[j]))
#                 print("derivation of dg",dg[j].shape)
                
#                 da[j] = ((-y_train_data[j]/A[j])+((1-y_train_data[j])/(1-A[j])))
                da1[j]=np.divide(-y_train_data[j],A[j])
#                 print("da1",da1[j].shape)
                da2[j]=np.divide((1-y_train_data[j]),(1-A[j]))
#                 print("da2",da2[j].shape)
                
                da[j]=np.add(da1[j],da2[j])
#                 print("derivation of da",da[j].shape)
                
                dz[j]=np.multiply(dg[j],da[j])
#                 print("derivation of dz",dz[j].shape)
                
                dw[j]=np.dot(dz[j],A[j-1].T)/len(x_train_data)
#                 print("derivation of dw",dw[j].shape)
                
                weight[j]=weight[j]-np.dot(self.learning_rate,dw[j])
#                 print("weight",weight[j].shape)
                
                bias[j]=bias[j]-np.dot(self.learning_rate,db[j])
#                 print("bias",bias[j].shape)
                
        return weight,bias
        
        
    def test(self,x_test_data,weight,bias):
        layers=[x_test_data.shape[1],3,2,1]
        z=[0]*len(layers)
        A=[0]*len(layers)
        A[0]=x_test_data.T
        for i in range(1,len(layers)):
            #hypothesis function
            z[i]=np.dot(weight[i],A[i-1])+bias[i]
#             print("z",z[i].shape)
 
            # Activation 
            A[i]=np.divide(1,np.add(1,np.exp(-z[i])))
#             print("activation",A[i].shape)   
        return A[-1]
    
    def accuracy(self,y_test_data,y_predict):
        accuracy=100-(np.mean(np.abs(y_predict-y_test_data))*100)
        return accuracy
        
def main():
    obj=MultiNeuralNetwork()
    
    x_train_data=np.array(x_train)
    print("x train data",x_train_data.shape)
    y_train_data=np.array(y_train)
    y_train_data=y_train_data.reshape(len(y_train_data),1)
    print("y_train_data shape",y_train_data.shape)
    
    
    x_test_data=np.array(x_test)
    print("x test data",x_test_data.shape)
    y_test_data=np.array(y_test)
    y_test_data=y_test_data.reshape(len(y_test_data),1)
    print("y_test_data",y_test_data.shape)
    

    weight,bias=obj.train(x_train_data,y_train_data)
#     print("weight",weight)
#     print("bias",bias)
    
    y_predict=obj.test(x_test_data,weight,bias)
    print("predication",y_predict)
    
    
    final_accuracy=obj.accuracy(y_test_data,y_predict)
    print("final accurancy",final_accuracy)
                      
if __name__=='__main__':
    main()

x train data (3164, 48)
y_train_data shape (3164, 1)
x test data (1357, 48)
y_test_data (1357, 1)
layers [48, 3, 2, 1]
predication [[0.02051953 0.02048386 0.02076282 ... 0.0205014  0.02192049 0.02152153]]
final accurancy 86.96465578105912